@model ReplicaSystem.Models.LoginVM
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login HashtagClassroom</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<body>
    <!--Header-->
    @using (Html.BeginForm("LoginView", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <header>
            <a href="#" class="logo">
                <h1>Hashtag.</h1>
            </a>
            <div class="toggle" onclick="toggleMenu();">
            </div>
            <ul class="menu">
                <li><a href="~/Home/LandingPage" onclick="toggleMenu();">settings</a></li>
                <li><a href="~/Account/LoginView" onclick="toggleMenu();">help</a></li>
            </ul>

        </header>

        <!--login-->
        <section class="login">
            <div class="content">
                <div class="new">
                    <h2>Login</h2>
                    <p>No Account? <a href="Signup">Signup</a></p>
                    <form action="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(s => s.Email, new { placeholder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(s => s.Email, "", new { @class = "text-danger" })


                        @Html.PasswordFor(s => s.Password, new { placeholder = "Password", @class = "form-control" })
                        @Html.ValidationMessageFor(s => s.Password, "", new { @class = "text-danger" })
                        <br>
                        <input type="submit" value="Log in" class="btn button" />
                        <a href="~/Account/LoginView">Forgot Password</a>
                    </form>
                </div>
            </div>
        </section>

        <!--js-->
        <script type="text/javascript">
            window.addEventListener('scroll', function () {
                var header = document.querySelector
                    ('header');
                header.classList.toggle('sticky', window.
                    scrollY > 0);
            });
            function toggleMenu() {
                var menuToggle = document.querySelector('.toggle');
                var menu = document.querySelector('.menu');
                menuToggle.classList.toggle('active');
                menu.classList.toggle('active');
            }
        </script>
    }
    </body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}