@model ReplicaSystem.Models.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login HashtagClassroom</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<body>
    @using (Html.BeginForm("LoginView", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <header id="header">
            <h1>HashtagClassroom</h1>
        </header>
        <!--side menu-->
        <nav class="navbar">
            <span class="open-slide">
                <a href="#" onclick="openSlideMenu()">
                    <svg width="30" height="30">
                        <path d="M0,5 30,5" stroke="#B3B6B7" stroke-width="5" />
                        <path d="M0,14 30,14" stroke="#B3B6B7" stroke-width="5" />
                        <path d="M0,23 30,23" stroke="#B3B6B7" stroke-width="5" />
                    </svg>
                </a>
            </span>
            <ul class="navbar-nav"></ul>
        </nav>
        <div id="side-menu" class="side-nav">
            <a href="#" class="btnClose" onclick="closeSlideMenu()">&times;</a>
            <a href="Settings.html" class="fa fa-gear">  Settings</a>
            <a href="Help.html" class="fa fa-question-circle">  Help</a>
        </div>

        <!--login-->
        <div id="background" style="background-image:url('/Content/images/background image (landing).jpeg')">
            <div class="text">

                <h1>Login</h1>
                <p>No Account? <a href="Signup.html">Signup</a></p>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="login">

                <form action="">
                    @Html.TextBoxFor(s => s.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.Email, "", new { @class = "text-danger" })

                    @Html.PasswordFor(s => s.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.Password, "", new { @class = "text-danger" })
                    <br />


                    <input type="submit" value="Log in" class="btn button" />
                    <!--<a href="~/Home/LandingPage" class="button">Login</a>
    <a href="PasswordChange.html">Forgot Password</a>-->
                </form>
            </div>

        </div>

        <!--java script for slidemenu-->
        <script>
            function openSlideMenu() {
                document.getElementById('side-menu').style.width = '250px';
                document.getElementById('showcase').style.marginLeft = '250px';

            }
            function closeSlideMenu() {
                document.getElementById('side-menu').style.width = '0';
                document.getElementById('showcase').style.marginLeft = '0';
            }

        </script>
    }
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}