@model ReplicaSystem.Models.SignupVM
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Signup HashtagClassroom</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<body>
    @using (Html.BeginForm("Signup", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <!--Header-->
        <header>
            <a href="#" class="logo">
                <h1>Hashtag.</h1>
            </a>
            <div class="toggle" onclick="toggleMenu();">
            </div>
            <ul class="menu">
                <li><a href="Settings.html" onclick="toggleMenu();">settings</a></li>
                <li><a href="Help.html" onclick="toggleMenu();">help</a></li>
            </ul>

        </header>

        <!--signup-->
        <section class="signup">
            <div class="content">
                <div class="new">
                    <h2>Login</h2>
                    <p>
                        Have an Account? <a href="Login.html">Login</a>
                    </p>
                    <form action="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.FName, new { placeholder = "First Name", @class = "form-control" })
                        @Html.TextBoxFor(m => m.LName, new { placeholder = "Last Name", @class = "form-control" })
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "form-control" })
                        @Html.TextBoxFor(m => m.CellNum, new { placeholder = "Contact Number", @class = "form-control" })
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                        <br>
                        <input type="submit" value="Sign Up" class="btn button" />
                    </form>
                </div>
            </div>
        </section>

        <!--js-->
        <script type="text/javascript">
            window.addEventListener('scroll', function () {
                var header = document.querySelector
                    ('header');
                header.classList.toggle('sticky', window.
                    scrollY > 0);
            });
            function toggleMenu() {
                var menuToggle = document.querySelector('.toggle');
                var menu = document.querySelector('.menu');
                menuToggle.classList.toggle('active');
                menu.classList.toggle('active');
            }
        </script>
    }
    </body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}